target/
modules/
lib/
tmp/
eclipse/
modules/**/*
modules/secure
modules/crud

#Eclipse
.project
.metadata
eclipse/
test-result/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
modules/secure

modules/crud
