#twitter_update_list{
    list-style:none;
}

#twitter_update_list li{
     background: #f4f8f9; /* Old browsers */
     background: -moz-linear-gradient(top, #f4f8f9 1%, #e8f0f2 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f8f9), color-stop(100%,#e8f0f2)); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top, #f4f8f9 1%,#e8f0f2 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, #f4f8f9 1%,#e8f0f2 100%); /* Opera11.10+ */
     background: -ms-linear-gradient(top, #f4f8f9 1%,#e8f0f2 100%); /* IE10+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f8f9', endColorstr='#e8f0f2',GradientType=0 ); /* IE6-9 */
     background: linear-gradient(top, #f4f8f9 1%,#e8f0f2 100%); /* W3C */
     box-shadow: 1px -1px 2px #bbc6c8;
     -webkit-box-shadow: 1px -1px 2px #bbc6c8;
     -moz-box-shadow: 1px -1px 2px #bbc6c8;
     border-radius:7px;
     -moz-border-radius:7px;
     -webkit-border-radius:7px;
     padding:15px;
     width:300px;
}

#twitter_update_list::after {
    content: "";
    position: relative;
    left: 30px;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #e8f0f2 transparent;
    display: block;
    width: 0;
}