#{extends 'main.html' /}
#{set title:'Twitter Live Stream' /}

<div>
	<div id="log"></div>
</div>

<script type="text/javascript">
		$(function() {
			if (window["WebSocket"]) {
				var conn = new WebSocket('@@{WebSocket.twitter()}');

				conn.onmessage = function(evt) {
					var d = $.parseJSON(evt.data);
				
					var tweet = d.status;
					
					var status = tweet.replace(/((https?|s?ftp|ssh)\:\/\/[^"\s\<\>]*[^.,;'">\:\s\<\>\)\]\!])/g, function(url) {
					      return '<a href="'+url+'">'+url+'</a>';
					    }).replace(/\B@([_a-z0-9]+)/ig, function(reply) {
					      return  reply.charAt(0)+'<a href="http://twitter.com/'+reply.substring(1)+'">'+reply.substring(1)+'</a>';
					    });
					$('#log').prepend('<h3><a href=\"http://twitter.com/' + d.screenname + '\">' + d.screenname + '</a><small> ' + d.user + ' </small></h3><blockquote><p>' + status + '</p> <small>' + d.date + '</small></blockquote>');        
				};

				conn.onclose = function(evt) {
					$("#log").prepend('<div class=\"alert-message error\">Socket closed</div>');
				};
				
			} else {
				$("#log").prepend('<div class=\"alert-message error\">Browser does not support web sockets</div>')
			}
		});
		
</script>